html {
  font-size: 100%;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.caja {
  background-color: white;
}

.cart2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  border-radius: 100px;
  border-radius: 40px 40px 40px 40px;
  width: 990px;
}

.raduis {
  border-radius: 22px 22px 22px 22px;
  background: linear-gradient(
    to right,
    rgba(27, 86, 189, 1) 0%,
    rgba(27, 86, 189, 1) 20%,
    rgba(100, 163, 222, 1) 75%,
    rgba(16, 57, 179, 1) 100%
  );
  box-shadow: 0px 1px 15px 2px rgba(0, 0, 0, 0.75);
}

.titulo {
  color: floralwhite;
  font-family: 'Open Sans';
}

.paper {
  width: 140px;
  height: 60px;
  text-align: center;
  display: block;
  right: 125px;
}

.icono {
  position: static;
  text-align: center;
  top: 12px;
}

.numeroParticipantes {
  position: relative;
  font-size: 16px;
  color: floralwhite;
}

.botonGanador {
  margin-top: 220px;
  width: 400px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.alertaError {
  flex: initial;
  color: red;
  padding: 0;
  font-size: 13px;
}

.app-imagen {
  width: 140px;
  height: 140px;
}
.app2-imagen {
  width: 140px;
  height: 140px;
  position: absolute;
  right: 160px;
  top: 160px;
}

.app3-imagen {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 160px;
  top: 160px;
}

.alinear {
  display: inline;
}

.tituloGanadro {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  display: inline;
}

.winner {
  font: bold 500%/290% 'Lucida Grande';
  position: relative;
  color: #007ef3;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
